*{  margin: auto;
    padding: 0;
    box-sizing:border-box; 
    max-width: 100%;
    max-height: 100%;
}
body {  background-color: rgb(248, 237, 223);
    font-family: 'Roboto Flex', sans-serif; 
    max-width: 1200px; 
    max-height: 100%;
    margin: auto; 
    padding: 0;
    max-height: 100%;
}

header { display: flex ;
    align-items: center; 
    justify-content: space-between;
    font-family: 'Roboto Flex', sans-serif;
    max-width: 1200px; 
    max-height: 100%;
}

#encabezado { height: 100%;
    width: 100%; 
    box-sizing: content-box;
}
#logo__copal { justify-items: left;
    width: 30%;
    height: 100%;  
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
nav { display: flex; 
    width: 100%; 
    justify-content: right; 
    align-items: baseline; 
    max-height: 100%;
}

nav ul li a { width: 100%;
    height: 50px; 
    display: inline-block;
    justify-content: right;            
}
ul li {display: inline-block;  
    margin: 15px;
    height: 30px; 
    width: auto; 
    padding: 0;   
}
ul li a {color: rgb(3, 63, 67); 
    text-decoration: none; 
    font-size: 20px; 
    margin: 10px;
}
#menu__link { display: flex; 
    align-items: stretch;
    justify-content: right;
    font-family: 'Roboto Flex', sans-serif;
    max-height: 150px; 
    max-width: 1200px;
    margin-top: 5%;
    margin-bottom: 10% ; 
    flex-direction: row;
    box-sizing: border-box;
    font-size: 15px;
}
.menu__link { justify-content: right;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    height: 50px;
    width: 100%; margin-left: 10%;   
}
.menu__link__imagen {width: 50px; 
    height: 50px; 
    filter: brightness(1.1); 
    mix-blend-mode: multiply;
}
.menu__paginas { width: 1200px;
    padding: 10px;
    flex-direction: row;
    justify-content: end;
    justify-content: right;
    height: 70px;
}
.titulo {  max-width: 1200px;
    margin-top: 30px;
}
h1 {font-weight: 300; 
    font-size: 40; 
    text-align: end;
    padding-right: 100px;
    padding-bottom: 50px;
    height: 20px;
    width: 100%;
}
.contacto{ height: 30px;
}
.box__contacto {display:flex;
    position: relative; 
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 100px;
    align-content: space-around; 
    justify-content: center;
    max-width: 1200px;
    max-height: 400px;
}
.box__form {margin: auto; 
    width: 300px;
    height: 100%;
    background-color: rgba(147, 142, 136, 0.194);
    padding: 10px 20px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 10px;  
}
h2 { color:aliceblue;
    text-align: center;
    margin:0;
    font-size: 30px;
    margin-bottom: 10px;
}
input, textarea {  width: 100%;
    margin-bottom: 20px;
    padding: 7px;
}
textarea { max-height: 100px; 
}
.boton__contacto { background: #648565;
    padding: 10px;
    width: 100%;
    margin: 5px;
}
.box__mapa { margin: 5px; 
    margin-right: 80px;
    height: 100%;      
}

.reseña {
    color: black; 
}
.imagen__incienso {
    max-width: 1200px;
    max-height: 400px; 
    display: strech;
    background-image: url(../IMAGENES/gradiente.png);
    filter: opacity(15%);
    position: absolute; 
    background-size: cover;
    background-repeat: no-repeat 
}
.imagen__fondo { 
    width: 100%; 
    display: strech;
    background-image: url(../IMAGENES/1\ FOTO\ PAG\ COPAL.JPG); 
    filter: opacity(15%);
    position: absolute; 
    background-size: cover;
    background-repeat: no-repeat; 
    max-height: 400px;
 }
.marca__de__agua__img { 
    background-origin: content-box; 
    max-width: 1200px; 
    max-width: 400px; 
    position: absolute;
}  
.fondo__quienes { 
    background-image: url(../IMAGENES/3\ FOTO\ COPAL.JPG);
    filter: opacity(15%);
    position: absolute;    
    box-sizing: content-box;
    max-width: 1200px; 
    max-height: 400px; 
}
.imagen__fondo__incienso {
    width: 1200px;
    height: 400px;
}
.box__quienes { 
    max-width: 1200px;
    max-height: 400px;
    margin-top: 60px;
}
.imag__fondo__quienes {
    max-height: 400px;  
}
.box__form__form {  
    width: 100%;
    max-width: 500px;
    margin: 200 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch
}
.saumadores__galeria { 
    display: flex; 
    max-width: 1200px;
    height: auto;
    margin-bottom: 50px;
} 
.inciensos__galeria { 
    display: flex; 
    flex-wrap: wrap;
    max-width: 1200px; 
    height: auto;
    margin-bottom: 50px;
}
.galeria{  
    height:auto auto; 
    display: flex; 
    flex-wrap: wrap;
    flex-grow: 1 ;  
    width: 1200px;
    height: 400px;
    align-content: stretch;
    scroll-behavior: smooth;    
}  
.galeria__card {
    width: 200px;
    height: 300px;
    /*border: 1px solid black;*/
    text-align: center;
    padding: 5px;
    margin: 5px;
    display: inline-block; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14; 
    font-weight: 300; 
    color:black;
    justify-content: center;
    align-content: center; 
    box-sizing: border-box; 
}     
.galeria__card img {
    width: 150px;
    height: 150px;
}
.galeria__card p { 
    margin: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
}
.boton__comprar { 
    background-color: white;
    color: black;
    border: #f5f8f5;
    padding: 10px;
  } 
.box__encabezado { 
    width: 1200px; 
    height: 50px;
}
#contenedor  { 
    display: flex;
    flex-flow: row;
    text-align: center ;
    width: 1200px;
    height: 400px;
    box-sizing: border-box;
    position: relative;
}
main { 
    display: flex;
    flex-flow: row;
    text-align: center ;
    box-sizing: border-box;
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-top: 80px;
}
#carouselExampleSlidesOnly { width: 60%; 
    height: 80%;}

.container-fluid {background-color:rgb(248, 237, 223); 
    filter: brightness(1.1);
    mix-blend-mode: multiply; max-height: 100%;
}
.navbar-expand-lg  {filter: brightness(1.1);
    mix-blend-mode: multiply; 
    font-size: 20px;
     max-height: 100%; 
}
.texto  {  color: rgb(5, 48, 18);
    margin: 5px;
    font-weight:600;
    width:40%; 
    flex-wrap: wrap;
    -webkit-text-size-adjust: 100%;
    max-height: 400px;
}
.texto p { 
    align-content: left; 
    height: 80px;
    top: 20%;
    margin: 40px;
    margin-top: 80px;
    font-size: 30px;
}
.img__izq { 
    width: 400px;
     height: 100%;
}
.img__centro {  width: 400px;
     height: 100%;
}
.img__der {  width: 400px; 
    height: 100%;
}
.img__izq__img { width: 100%; 
    height: 80%;
}
.img__centro__img { width: 100%;
     height: 100%;
}
.img__der__img { width: 100%;
     height: 100%
}
.footer { height: 170px;
}
.anuncio { display: flex;
    max-height: 20px;
    max-width: 1200px;
    background-color:rgb(41, 175, 130);
    font-size: medium; 
    justify-content: center;  
    text-align: center; 
}
.icono__redes {justify-items: flex-end; 
    width: 30px; 
    height: 30px;
    margin: 25px;
    row-gap: 10px;
}
.menu__iconos__redes{ display: flex;
    max-width: 1175px;
    max-height: 130px;
    flex-direction: row;
    justify-items: center; 
}
.box__quienes {  width: auto  ;
    height: auto auto; 
    display: flex; 
    justify-content: center;
    margin: 0 auto;
    gap: 100px;   
    align-items: center;
}

#reseña {display: flex;
    outline: seagreen 2px; 
    max-width: 400px;
    max-height: auto;
    font-family:'Roboto Flex', sans-serif ;
    text-align: center;
    font-weight: 300;
    justify-content: center;
    flex-grow: 1;
    line-height: normal;
}
#reseña p { top: 50px;  
    text-align: justify; 
    width: 100%; 
    display: inline-block;
    margin: 50px;
    font-size: 30px;
}
.video { justify-content: right; 
    box-sizing: border-box; 
    max-width: 500px; 
    max-height: 400px; 
    object-fit: cover
}
video { width: 100%; 
    height: 100%; 
}


/*media queries*/
@media screen and (max-width:1050px ){ 
     .galeria__card {flex-basis: 300px; 
        margin: 10%; 
    }
}
@media screen and (max-width:1000px ){ 
    .galeria__card { margin: 5%; 
        margin-left: 10%;
   }
}
@media screen and (max-width:1000px ){ 
        body {  background-color: rgb(248, 237, 223);
    } 
}

@media screen and (max-width:1000px ){ 
    .galeria__card { width: 60%; 
        height: 60%; 
        margin: 5%;
        margin-left: 5%;
    }
}

@media screen and (max-width:1050px ){ 
    .imagen__fondo .marca__de__agua__img {height: 100%; 
        
    }
}
@media screen and (max-width: 900px) { 
    body {  max-width: 800px;
         max-height: 200px;
    }
}
@media screen and (max-width: 900px) {
    main {max-width: 800px; 
        max-height: 300px;
    }
}
 @media screen and (max-width: 900px) {
    footer {max-width: 800px; 
        max-height: 70px; 
    }
}
@media screen and (max-width: 940px) {
    .menu__link { flex-direction: column;
    }  
}

@media screen and (max-width: 940px) {
    .menu__link__imagen { width: 18px;
        height: 15px;
    }  
}
    

@media screen and (max-width: 900px) { 
    .img__centro {  width: 100%; 
        height: 60%;
    }
}
@media screen and (max-width: 900px) { 
    .img__der {  width: 100%; 
        height: 60%;
    }
}
@media screen and (max-width: 900px) { 
    .img__izq {  width: 100%; height: 60%;
    }
}
@media screen and (max-width: 900px) { 
    .texto p {  font-size: 20px; 
        box-sizing: border-box; 
        padding: 1%; 
        height: 30%;
        width: 50%;
    }
}
@media screen and (max-width: 640px) { 
    .texto p {  font-size: 10px; 
    }
}
@media screen and (max-width: 900px) { 
    .carousel {  max-height: 70%; margin-bottom: 50px;
    }
}
@media screen and (max-width: 900px) { 
    #reseña { margin-top: 10px; max-width: 75%; height: 50%;
        font-size: 10px; 
    }
}

@media screen and (max-width: 900px) { 
    .box__quienes { flex-direction: column; 
        align-items: center; 
        gap: 20px;  
    }
}
@media screen and (max-width: 900px) { 
    #reseña p{ font-size: 10px;
         margin: 5% ;
         max-width: 50%x; 
         height: 50%; 
         overflow: scroll;
    }
}
@media screen and (max-width: 690px) {
    .menu__link a {font-size: 10px; 
        justify-content: space-around;
        margin-left: 0; 
        padding-left: 0;
        margin: 0px;
    }
}
@media screen and (max-width: 600px) { 
    .video { max-width: 50%;;
    }
}
@media screen and (max-width: 600px) { 
    .menu__paginas a { font-size: 10px;
        margin: 1px;
    }
}
@media screen and (max-width: 600px) { 
    h1 { font-size: 20px;
    }
}
@media screen and (max-width: 450px) { 
    .texto p {  font-size: 10px; 
        box-sizing: border-box; 
        padding: 1%; 
        height: 30%;
    }
}
@media screen and (max-width: 400px) {
    .menu__link a {font-size: 6px;    
    }
}
@media screen and (max-width: 450px) { 
    .menu__link {justify-content: space-around; 
        margin-left: 0px; 
        padding-left: 0;
        margin: 0px; 
    } 
}
@media screen and (max-width: 400px) { 
    .anuncio p{  font-size: 10px; 
    }
}

/*animaciones*/
.menu__link__princ a:hover {  
    color: rgb(115, 128, 0); font-size: 15px;
}
.menu__paginas__1 a:hover{ color: rgb(239, 77, 7);
}
.menu__link__2 a:hover { color: rgb(115, 128, 0 );
     font-size: 15px;
}
.menu__paginas__2 a:hover { color: rgb(219, 19, 85);
}
.menu__link a:hover{color: rgb(115, 128, 0 ); 
    font-size: 15px; 
}
.menu__paginas a:hover { color: rgb(219, 19, 85);
}
.img__centro:hover {
    transform: rotateZ(90deg); 
    transition: 2s;
}
.boton__comprar:hover { 
    border: 2px solid #4CAF50;
}

#reseña {position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% {left:0px; top:0px;} 
}
