@charset "UTF-8";
/* MISC*/
/*VARIABLES*/
/*font size*/
/*spacing*/
/*colors*/
/*NORMALIZE*/
* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%; }

body {
  background-color: #f8eddf;
  font-family: 'Roboto Flex', sans-serif;
  max-width: 1200px;
  max-height: 100%;
  margin: auto;
  padding: 0; }

h1 {
  font-weight: 300;
  font-size: 40;
  text-align: end;
  padding-right: 100px;
  padding-bottom: 50px;
  height: 20px;
  width: 100%; }

h2 {
  color: black;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 10px; }

main {
  display: flex;
  flex-flow: row;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-top: 80px; }

video {
  width: 100%;
  height: 100%; }

/* PARTIALS*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto Flex', sans-serif;
  max-width: 1200px;
  max-height: 100%; }
  header .navbar-expand-lg {
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    font-size: 20px;
    max-height: 100%; }

footer {
  height: 170px; }
  footer .anuncio {
    display: flex;
    max-height: 20px;
    max-width: 1200px;
    background-color: #29af82;
    font-size: medium;
    justify-content: center;
    text-align: center; }
  footer .menu__iconos__redes {
    display: flex;
    max-width: 1175px;
    max-height: 130px; }
  footer .icono__redes {
    width: 30px;
    height: 30px;
    margin: 25px;
    row-gap: 10px; }

/* VIEWS */
/*home*/
#pag__home {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  display: inline-block; }
  #pag__home .contenedor__carrousel {
    display: flex;
    flex-flow: row;
    margin-bottom: 100px;
    align-content: flex-start; }
    #pag__home .contenedor__carrousel #carouselExampleSlidesOnly {
      margin-right: 50px;
      width: 60%;
      height: 80%; }
    #pag__home .contenedor__carrousel .texto {
      color: black;
      margin: 5px;
      font-weight: 600;
      width: 40%;
      flex-wrap: wrap;
      -webkit-text-size-adjust: 100%;
      max-height: 400px; }
      #pag__home .contenedor__carrousel .texto p {
        align-content: left;
        height: 80px;
        top: 20%;
        margin: 40px;
        margin-top: 80px;
        font-size: 30px; }
  #pag__home #cards {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px; }
  #pag__home .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 clamp(300px, 30%, 400px);
    margin-top: 0; }
    #pag__home .box__img {
      width: 100%;
      height: 100%; }
      #pag__home .box__img img {
        width: 380px;
        height: 270px; }
  #pag__home .box__info {
    display: flex;
    flex-direction: column;
    padding: 30px; }
    #pag__home .box__info .box__subtitle {
      margin-top: .6rem;
      color: rgba(1, 19, 1, 0.847);
      font-size: 20px; }
    #pag__home .box__info .box__text {
      margin-top: 1rem;
      color: #012701;
      font-size: 15px; }

.box__quienes {
  max-width: 1200px;
  max-height: 100%;
  margin-top: 60px; }
  .box__quienes .fondo__quienes {
    background-image: url(../img_3_FOTO_COPAL.JPG);
    filter: opacity(15%);
    position: absolute;
    box-sizing: content-box;
    max-width: 1200px;
    max-height: 400px; }
    .box__quienes .fondo__quienes .imagen__fondo__quienes {
      height: 400px; }
  .box__quienes #reseña {
    display: flex;
    outline: seagreen 2px;
    max-width: 400px;
    max-height: auto;
    font-family: 'Roboto Flex', sans-serif;
    text-align: center;
    font-weight: 300;
    justify-content: center;
    flex-grow: 1;
    line-height: normal; }
    .box__quienes #reseña p {
      top: 50px;
      text-align: justify;
      width: 100%;
      display: inline-block;
      margin: 50px;
      font-size: 30px; }
  .box__quienes .gif {
    justify-content: right;
    box-sizing: border-box;
    max-width: 500px;
    max-height: 400px;
    object-fit: cover; }
    .box__quienes .gif img {
      width: 100%;
      height: 100%; }

/*contacto*/
.box__contacto {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
  align-content: space-around;
  justify-content: center;
  max-width: 1200px;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px; }
  .box__contacto .box__form {
    margin: auto;
    width: 300px;
    height: 100%;
    background-color: #828080;
    padding: 10px 20px;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 50px; }
    .box__contacto .box__form input, .box__contacto .box__form textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px; }
    .box__contacto .box__form textarea {
      max-height: 100px; }
    .box__contacto .box__form .boton__contacto, .box__contacto .box__form .btn--enviar, .box__contacto .box__form .btn--borrar {
      background: #648565;
      padding: 10px;
      width: 100%;
      margin: 5px; }
    .box__contacto .box__form .btn--enviar {
      background-color: rgba(82, 140, 82, 0.555); }
      .box__contacto .box__form .btn--enviar:hover {
        background-color: #ace9ac; }
    .box__contacto .box__form .btn--borrar {
      background-color: rgba(238, 204, 91, 0.543); }
      .box__contacto .box__form .btn--borrar:hover {
        background-color: #ebe7ac; }
  .box__contacto .box__mapa {
    margin: 5px;
    margin-right: 80px;
    height: 100%; }

/*sahumadores*/
.sahumadores__galeria {
  display: flex;
  max-width: 1200px;
  height: 100%;
  margin-bottom: 50px; }
  .sahumadores__galeria .galeria {
    height: auto auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 1200px;
    max-height: 100%;
    align-content: stretch;
    scroll-behavior: smooth; }
    .sahumadores__galeria .galeria__card {
      width: 200px;
      height: 300px;
      text-align: center;
      padding: 5px;
      margin: 5px;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: black;
      justify-content: center;
      align-content: center;
      box-sizing: border-box; }
      .sahumadores__galeria .galeria__card .boton__comprar {
        background-color: #f8eddf;
        color: black;
        border: #f5f8f5;
        padding: 10px; }
        .sahumadores__galeria .galeria__card .boton__comprar:hover {
          border: 2px solid #4CAF50; }
    .sahumadores__galeria .galeria img {
      width: 150px;
      height: 150px; }
    .sahumadores__galeria .galeria p {
      margin: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      height: auto; }

/*inciensos*/
.inciensos__galeria {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 100%;
  margin-bottom: 50px; }
  .inciensos__galeria .imagen__incienso {
    max-width: 1200px;
    max-height: 400px;
    display: strech;
    background-image: url(../IMAGENES/gradiente.png);
    filter: opacity(15%);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat; }
    .inciensos__galeria .imagen__incienso .imagen__incienso__fondo {
      width: 1200px;
      height: 400px; }
  .inciensos__galeria .galeria {
    height: auto auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 1200px;
    max-height: 100%;
    align-content: stretch;
    scroll-behavior: smooth; }
    .inciensos__galeria .galeria__card {
      width: 200px;
      height: 100%;
      text-align: center;
      padding: 5px;
      margin: 5px;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: black;
      justify-content: center;
      align-content: center;
      box-sizing: border-box; }
      .inciensos__galeria .galeria__card .boton__comprar {
        background-color: #f8eddf;
        color: black;
        border: #f5f8f5;
        padding: 10px; }
        .inciensos__galeria .galeria__card .boton__comprar:hover {
          border: 2px solid #4CAF50; }
      .inciensos__galeria .galeria__card img {
        width: 150px;
        height: 150px; }
      .inciensos__galeria .galeria__card p {
        margin: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: auto; }

/* MISC*/
/*ANIMACIONES*/
.navbar a:hover {
  color: #4CAF50; }

#reseña {
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s; }

@keyframes example {
  0% {
    left: 0px;
    top: 0px; }
  25% {
    left: 200px;
    top: 0px; }
  50% {
    left: 200px;
    top: 200px; }
  75% {
    left: 0px;
    top: 200px; }
  100% {
    left: 0px;
    top: 0px; } }

/*media queries*/
@media screen and (max-width: 1000px) {
  body {
    background-color: #f8eddf; }
  .galeria__card {
    margin: 5%;
    margin-left: 10%;
    flex-basis: 300px;
    width: 60%;
    height: 60%; }
  .imagen__fondo .marca__de__agua__img {
    height: 100%; } }

@media screen and (max-width: 900px) {
  body {
    max-width: 800px;
    max-height: 100%; }
  main {
    max-width: 800px;
    max-height: 100%; }
  .box__contacto {
    display: block; }
  #pag__home {
    margin: 0; }
    #pag__home .contenedor__carrousel {
      display: block;
      margin: auto; }
      #pag__home .contenedor__carrousel .texto {
        margin-left: 150px; }
        #pag__home .contenedor__carrousel .texto p {
          font-size: 20px;
          box-sizing: border-box;
          padding: 1%;
          height: 50%;
          width: 100%; }
      #pag__home .contenedor__carrousel .carousel {
        max-height: 70%;
        margin-bottom: 50px;
        margin-right: 0px; }
  .box__quienes {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%; }
    .box__quienes #reseña {
      margin-top: 10px;
      max-width: 75%;
      height: 50%;
      font-size: 5px; }
      .box__quienes #reseña p {
        font-size: 20px;
        margin: 5%;
        max-width: 50%x;
        height: 50%;
        overflow: scroll; }
  footer {
    max-width: 800px;
    max-height: 70px; } }

@media screen and (max-width: 640px) {
  .texto p {
    font-size: 5px; }
  .video {
    width: 100%;
    height: 100%; }
  h1 {
    font-size: 20px; } }

@media screen and (max-width: 450px) {
  .texto {
    margin: auto; }
    .texto p {
      font-size: 5px;
      box-sizing: border-box;
      padding: 1%; }
  .anuncio p {
    font-size: 5px; } }
